pkgbase = wonderpen-bin
	pkgdesc = A professional writing app with a focused mode and markdown support
	pkgver = 2.4.6
	pkgrel = 1
	url = https://www.tominlab.com/en/wonderpen
	arch = x86_64
	license = custom
	depends = libappindicator-gtk3
	depends = libnotify
	depends = libxss
	depends = nss
	depends = xdg-utils
	provides = wonderpen
	source = https://file.tominlab.com/WonderPen/2.4/WonderPen_linux_amd64_2.4.6(7366).deb
	sha256sums = fe8c06a4a16906b7858cc1841fce110925753ed62459dae4d865eb9e32917284

pkgname = wonderpen-bin
